pandas 
numpy 
matplotlib
scipy
torch==1.2.0
torchvision==0.4.0
glibc
pydicom
six
numpy
scipy
Pillow
matplotlib
scikit-image
opencv-python
imageio
Shapely
imgaug==0.2.6
albumentations
efficientnet-pytorch